<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="瓜子，分期购车，汽车金融" />
    <title>【北京二手车贷款_北京二手车分期付款_二手车贷款计算器】- 瓜子汽车金融 北京</title>
    <link rel="stylesheet" href="style/css/web_v3.602b91cfcbeb44c12565.css"/>
</head>
<body>

<script>
    window.trackingConfig = {"page_type":"loan_index","pagetype":"loan_index"};
    </script>
<div class="festivelTip" id="festivelTip">
    1.20-2.2日放假期间，暂停服务，留下申请信息后我们会在节后第一时间联系您，祝您新春快乐！
    <div class="closeIcon"></div>
</div>
<script type="text/javascript" src="style/js/raven.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        try {
            Raven.config("https://5434505c213a4f47af83562d540d440f@sentry.guazi.com/6", {"release": "bb34baeb8535f2729f6f09d9149171942596a7ce"}).install();
        } catch (ex) {}
    </script>
<div class="header">
    <div class="hd-top clearfix">
        <a href="http://www.guazi.com" class="logo"></a>
        <div class="c2bcity c2city">
            <a href="javascript: void(0);" class="choose-city">
                <span>北京<i>&nbsp;</i></span>
            </a>
            <i class="maskline"></i>
            <div class="city-box">

                <div class="all-city">
                    <!--<dl>-->
                        <!--<dt>周边</dt>-->
                        <!--<dd><a class="on" href='/tj/'>天津</a><a href='/tangshan/'>唐山</a><a href='/sjz/'>北京</a><a href='/sjz/'>北京</a><a href='/sjz/'>北京</a></dd>-->
                    <!--</dl>-->
                    <dl>
                        <dt>热门</dt>
                        <dd>
                            <a href="/all/">全国</a>
                                                                                                <a href="/bj/">北京</a>
                                                                                                                                <a href="/sh/">上海</a>
                                                                                                                                <a href="/gz/">广州</a>
                                                                                                                                <a href="/sz/">深圳</a>
                                                                                                                                <a href="/cd/">成都</a>
                                                                                                                                <a href="/cq/">重庆</a>
                                                                                                                                <a href="/hz/">杭州</a>
                                                                                                                                <a href="/su/">苏州</a>
                                                                                                                                <a href="/sjz/">石家庄</a>
                                                                                                                                <a href="/wh/">武汉</a>
                                                                                    </dd>
                    </dl>
                    <div class="city-line"></div>
                                        <dl>
                        <dt>A</dt>
                        <dd>
                                                        <a href="/anshan/">鞍山</a>
                                                        <a href="/anyang/">安阳</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>B</dt>
                        <dd>
                                                        <a href="/baoding/">保定</a>
                                                        <a href="/baotou/">包头</a>
                                                        <a href="/bj/">北京</a>
                                                        <a href="/bengbu/">蚌埠</a>
                                                        <a href="/binzhou/">滨州</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>C</dt>
                        <dd>
                                                        <a href="/cangzhou/">沧州</a>
                                                        <a href="/cc/">长春</a>
                                                        <a href="/cs/">长沙</a>
                                                        <a href="/changzhou/">常州</a>
                                                        <a href="/chengde/">承德</a>
                                                        <a href="/cd/">成都</a>
                                                        <a href="/cq/">重庆</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>D</dt>
                        <dd>
                                                        <a href="/dl/">大连</a>
                                                        <a href="/daqing/">大庆</a>
                                                        <a href="/datong/">大同</a>
                                                        <a href="/dazhou/">达州</a>
                                                        <a href="/deyang/">德阳</a>
                                                        <a href="/dezhou/">德州</a>
                                                        <a href="/dg/">东莞</a>
                                                        <a href="/dongying/">东营</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>E</dt>
                        <dd>
                                                        <a href="/eerduosi/">鄂尔多斯</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>F</dt>
                        <dd>
                                                        <a href="/foshan/">佛山</a>
                                                        <a href="/fz/">福州</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>G</dt>
                        <dd>
                                                        <a href="/ganzhou/">赣州</a>
                                                        <a href="/guangan/">广安</a>
                                                        <a href="/gz/">广州</a>
                                                        <a href="/gl/">桂林</a>
                                                        <a href="/gy/">贵阳</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>H</dt>
                        <dd>
                                                        <a href="/hrb/">哈尔滨</a>
                                                        <a href="/handan/">邯郸</a>
                                                        <a href="/hz/">杭州</a>
                                                        <a href="/hf/">合肥</a>
                                                        <a href="/hengshui/">衡水</a>
                                                        <a href="/heze/">菏泽</a>
                                                        <a href="/huaian/">淮安</a>
                                                        <a href="/nmg/">呼和浩特</a>
                                                        <a href="/huizhou/">惠州</a>
                                                        <a href="/huzhou/">湖州</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>J</dt>
                        <dd>
                                                        <a href="/jiangmen/">江门</a>
                                                        <a href="/jiaozuo/">焦作</a>
                                                        <a href="/jiaxing/">嘉兴</a>
                                                        <a href="/jilin/">吉林</a>
                                                        <a href="/jn/">济南</a>
                                                        <a href="/jingzhou/">荆州</a>
                                                        <a href="/jinhua/">金华</a>
                                                        <a href="/jining/">济宁</a>
                                                        <a href="/jstaizhou/">泰州</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>K</dt>
                        <dd>
                                                        <a href="/kaifeng/">开封</a>
                                                        <a href="/km/">昆明</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>L</dt>
                        <dd>
                                                        <a href="/langfang/">廊坊</a>
                                                        <a href="/lz/">兰州</a>
                                                        <a href="/leshan/">乐山</a>
                                                        <a href="/liaocheng/">聊城</a>
                                                        <a href="/liaoyang/">辽阳</a>
                                                        <a href="/linfen/">临汾</a>
                                                        <a href="/linyi/">临沂</a>
                                                        <a href="/liuzhou/">柳州</a>
                                                        <a href="/luoyang/">洛阳</a>
                                                        <a href="/luzhou/">泸州</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>M</dt>
                        <dd>
                                                        <a href="/maanshan/">马鞍山</a>
                                                        <a href="/meishan/">眉山</a>
                                                        <a href="/mianyang/">绵阳</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>N</dt>
                        <dd>
                                                        <a href="/nc/">南昌</a>
                                                        <a href="/nanchong/">南充</a>
                                                        <a href="/nj/">南京</a>
                                                        <a href="/nn/">南宁</a>
                                                        <a href="/nantong/">南通</a>
                                                        <a href="/nanyang/">南阳</a>
                                                        <a href="/neijiang/">内江</a>
                                                        <a href="/nb/">宁波</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>P</dt>
                        <dd>
                                                        <a href="/pingdingshan/">平顶山</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>Q</dt>
                        <dd>
                                                        <a href="/qd/">青岛</a>
                                                        <a href="/qinhuangdao/">秦皇岛</a>
                                                        <a href="/qiqihaer/">齐齐哈尔</a>
                                                        <a href="/quanzhou/">泉州</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>R</dt>
                        <dd>
                                                        <a href="/rizhao/">日照</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>S</dt>
                        <dd>
                                                        <a href="/sh/">上海</a>
                                                        <a href="/shaoxing/">绍兴</a>
                                                        <a href="/sy/">沈阳</a>
                                                        <a href="/sz/">深圳</a>
                                                        <a href="/sjz/">石家庄</a>
                                                        <a href="/shiyan/">十堰</a>
                                                        <a href="/siping/">四平</a>
                                                        <a href="/songyuan/">松原</a>
                                                        <a href="/suining/">遂宁</a>
                                                        <a href="/suqian/">宿迁</a>
                                                        <a href="/su/">苏州</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>T</dt>
                        <dd>
                                                        <a href="/taian/">泰安</a>
                                                        <a href="/ty/">太原</a>
                                                        <a href="/tangshan/">唐山</a>
                                                        <a href="/tj/">天津</a>
                                                        <a href="/tieling/">铁岭</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>W</dt>
                        <dd>
                                                        <a href="/weifang/">潍坊</a>
                                                        <a href="/wei/">威海</a>
                                                        <a href="/wenzhou/">温州</a>
                                                        <a href="/wh/">武汉</a>
                                                        <a href="/wuhu/">芜湖</a>
                                                        <a href="/xj/">乌鲁木齐</a>
                                                        <a href="/wx/">无锡</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>X</dt>
                        <dd>
                                                        <a href="/xm/">厦门</a>
                                                        <a href="/xa/">西安</a>
                                                        <a href="/xianggang/">香港</a>
                                                        <a href="/xiangyang/">襄阳</a>
                                                        <a href="/xingtai/">邢台</a>
                                                        <a href="/xinxiang/">新乡</a>
                                                        <a href="/xinyang/">信阳</a>
                                                        <a href="/xuchang/">许昌</a>
                                                        <a href="/xuzhou/">徐州</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>Y</dt>
                        <dd>
                                                        <a href="/yangzhou/">扬州</a>
                                                        <a href="/yantai/">烟台</a>
                                                        <a href="/yibin/">宜宾</a>
                                                        <a href="/yichang/">宜昌</a>
                                                        <a href="/yc/">银川</a>
                                                        <a href="/yuncheng/">运城</a>
                                                    </dd>
                    </dl>
                                        <dl>
                        <dt>Z</dt>
                        <dd>
                                                        <a href="/zaozhuang/">枣庄</a>
                                                        <a href="/zhangjiakou/">张家口</a>
                                                        <a href="/zz/">郑州</a>
                                                        <a href="/zhongshan/">中山</a>
                                                        <a href="/zhuhai/">珠海</a>
                                                        <a href="/zibo/">淄博</a>
                                                        <a href="/zigong/">自贡</a>
                                                        <a href="/ziyang/">资阳</a>
                                                        <a href="/zjtaizhou/">台州</a>
                                                    </dd>
                    </dl>
                    
                </div>
                <p class="more-city">更多城市正在加紧筹备，敬请期待。</p>
            </div>
        </div>
        <div class="hot-phone">
            <i></i>
            400-630-3009
        </div>
        <div class="search-box" style="visibility: hidden;">
            <div>
                <input type="text" class="search-input" placeholder="请输入要买的品牌、车型">
                <button class="search-btn">搜索</button>
            </div>
            <ul class="search-tip">
                <li>
                    <p>热门推荐</p>
                </li>
                <li>
                    <a href="http://www.guazi.com/bj/dazhong/">大众</a>
                </li>
                <li>
                    <a href="http://www.guazi.com/bj/bmw/">宝马</a>
                </li>
                <li>
                    <a href="http://www.guazi.com/bj/benz/">奔驰</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav">
        <div class="w">
                                        
            <a class="fr" target="_blank" href="http://www.guazi.com/zq_app/" gjalog="100000000521000100000010">APP下载</a>
            <a baidu_alog="pc_index_top_tab&click&pc_index_top_tab_fenqi_c" class="fr active" href="/" gjalog="100000001231000100000010">分期购车</a>
            <!--<a class="fr" href="http://www.guazi.com/zq_expandMarket/" gjalog="100000001248000100000010">车生活</a>-->
            <a class="fl" href="http://www.guazi.com/bj/" class="active" gjalog="100000000053000100000010">首页</a>
            <a class="fl" href="http://www.guazi.com/bj/buy/" gjalog="100000000054000100000010">我要买车</a>
            <a class="fl" href="http://www.guazi.com/bj/sell/" gjalog="100000000055000100000010">我要卖车</a>
            <a class="fl" href="http://www.guazi.com/bj/intro/" gjalog="100000000056000100000010">服务保障</a>
        </div>
    </div>
</div>


<div class="bannerArea">
    <div class="wrapper">
        <div class="infoArea" id="applyForm">

            <!-- selfSupport -->
            <div class="selfSupport hide">
                <div class="infoTitle">
                    定制方案 <span>资质越好，方案越划算</span>
                </div>
                <div class="inArea codeBtnArea">
                    <input type="text" id="selfPhone" maxlength="11" class="fullInput" placeholder="请输入您的手机号码">
                    <div class="codeBtn" id="codeBtn">获取验证码</div>
                </div>
                <div class="inArea">
                    <input type="text" id="verify_code" maxlength="4" class="fullInput" placeholder="请输入验证码">
                </div>
                <div class="btnArea">
                    <div class="loanBtn" id="selfLoanBtn">立即申请</div>
                    <div class="errorTip" id="selfErrorTip"></div>
                </div>
            </div>
            <!-- selfSupport e -->

            <!-- unSelfSupport -->
            <div class="unSelfSupport hide">
                <div class="infoTitle">
                    定制方案 <span>量身定制最优方案</span>
                </div>
                <div class="inArea">
                    <!--<input type="text" class="fullInput fullInputselected" placeholder="请输入您的手机号码">-->
                    <input type="text" id="phone" class="fullInput" placeholder="请输入您的手机号码" data-event-id="phone" data-event-type="input">
                </div>
                <div class="inArea">
                    <div class="selecterBtn fl" id="workSelector">
                        <div class="selectorHandle selecterText fl">职业身份</div>
                        <div class="selectorHandle fl icon"><i class="selectorHandle">&nbsp;</i></div>
                        <input type="hidden" id="work">
                        <div class="selector">
                            <ul>
                                <li class="selectorItem">职业身份</li>
                            </ul>
                        </div>
                    </div>
                    <div class="selecterBtn fr" id="salaryBtn">
                        <div class="fl"><input id="salary" class="input" placeholder="月收入(元)" data-event-id="salary" data-event-type="input"></div>
                    </div>
                </div>
                <div class="inArea pb10">
                    <div class="selecterBtn fl" id="houseSelector">
                        <div class="selectorHandle selecterText fl">居住情况</div>
                        <div class="selectorHandle fl icon"><i class="selectorHandle">&nbsp;</i></div>
                        <input type="hidden" id="house">
                        <div class="selector">
                            <ul>
                                <li class="selectorItem">居住情况</li>
                            </ul>
                        </div>
                    </div>
                    <div class="selecterBtn fr" id="credit_recordSelector">
                        <div class="selectorHandle selecterText fl">信用情况</div>
                        <div class="selectorHandle fl icon"><i class="selectorHandle">&nbsp;</i></div>
                        <input type="hidden" id="credit_record">
                        <div class="selector">
                            <ul>
                                <li class="selectorItem">信用情况</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="btnArea">
                    <div class="loanBtn" id="loanBtn">立即申请</div>
                    <div class="errorTip" id="errorTip"></div>
                </div>
            </div>
            <!-- unSelfSupport e -->

            <div class="infoTitle infoTitle2">正在申请人数</div>
            <div class="counterArea">
                <div class="counterItem">
                    <div class="counterContent">0</div>
                </div>
                <div class="counterItem">
                    <div class="counterContent">5</div>
                </div>
                <div class="counterItem">
                    <div class="counterContent">1</div>
                </div>
                <div class="counterItem">
                    <div class="counterContent">2</div>
                </div>
                <div class="counterItem">
                    <div class="counterContent">2</div>
                </div>
                <div class="counterItem">
                    <div class="counterContent">7</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="introArea">
    <div class="introlWrapper">
        <div class="introlItem">
            <div class="iconArea">
                <div class="icon"></div>
            </div>
            <div class="introTextArea">
                <div class="introTitle">选择多</div>
                <div class="introDescription">上千种精选金融产品</div>
            </div>
        </div>
        <div class="introlItem">
            <div class="iconArea">
                <div class="icon icon3"></div>
            </div>
            <div class="introTextArea">
                <div class="introTitle">审核快</div>
                <div class="introDescription">最快30分钟完成审批</div>
            </div>
        </div>
        <div class="introlItem">
            <div class="iconArea">
                <div class="icon icon2"></div>
            </div>
            <div class="introTextArea">
                <div class="introTitle">通过率高</div>
                <div class="introDescription">98%以上申请可通过</div>
            </div>
        </div>
        <div class="introlItem">
            <div class="iconArea">
                <div class="icon icon4"></div>
            </div>
            <div class="introTextArea">
                <div class="introTitle">一对一服务</div>
                <div class="introDescription">金融专员全程服务</div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">

    <div class="publicTitle">最受欢迎的分期购车</div>
    <div class="hotBuyArea">
        <a href="https://www.guazi.com/bj/suteng/" target="_blank">
            <div class="focusArea"></div>
        </a>
        <div class="hotCar">
            <div class="hotCarGroup">
                <div class="hotCarItem">
                    <a href="https://www.guazi.com/bj/buy/p3/" target="_blank" data-event-id="buy-p3">
                        <div class="hotCarTitle">日供10元贷回家</div>
                        <div class="hotCarDescription">5万内练手车</div>
                        <div class="hotCardPic hotCar1"></div>
                    </a>
                </div>
                <div class="hotCarItem">
                    <a href="https://www.guazi.com/bj/buy/p4/" target="_blank" data-event-id="buy-p4">
                        <div class="hotCarTitle">月供只要1500</div>
                        <div class="hotCarDescription">工薪族最爱</div>
                        <div class="hotCardPic hotCar2"></div>
                    </a>
                </div>
                <div class="hotCarItem">
                    <a href="https://www.guazi.com/bj/buy/h2/" target="_blank" data-event-id="buy-h2">
                        <div class="hotCarTitle">同首付,买辆宽敞的</div>
                        <div class="hotCarDescription">SUV家庭代步首选</div>
                        <div class="hotCardPic hotCar3"></div>
                    </a>
                </div>
            </div>
            <div class="hotCarGroup">
                <div class="hotCarItem">
                    <a href="https://www.guazi.com/bj/buy/c4/" target="_blank" data-event-id="buy-c4">
                        <div class="hotCarTitle">低首付高品质</div>
                        <div class="hotCarDescription">准新车</div>
                        <div class="hotCardPic hotCar4"></div>
                    </a>
                </div>
                <div class="hotCarItem">
                    <a href="https://www.guazi.com/bj/buy/b20e999/" target="_blank" data-event-id="buy-b20e999">
                        <div class="hotCarTitle">每天一杯星巴克</div>
                        <div class="hotCarDescription">奔驰宝马开回家</div>
                        <div class="hotCardPic hotCar5"></div>
                    </a>
                </div>
                <div class="hotCarItem">
                    <a href="https://www.guazi.com/bj/buy/a3/" target="_blank" data-event-id="buy-a3">
                        <div class="hotCarTitle">买得早不如刚刚好</div>
                        <div class="hotCarDescription">车主急售实惠</div>
                        <div class="hotCardPic hotCar6"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="publicTitle">客户体验</div>
    <div class="storyArea">
        <div class="storyItem">
            <div class="storyPic storyPic2"></div>
            <div class="storyTitle">
                张小姐
                <span class="storyDescription">白领</span>
                <span class="storyMotto">申请超快超简单</span>
            </div>
            <div class="storyPrice">
                <span class="priceTag">首付</span>
                <span>￥</span><span class="price">1.38万</span>
                <span class="priceTag ml20">月供</span>
                <span>￥</span><span class="price">1152</span>
            </div>
            <div class="storyDetail">
                贷款最怕就是一耗半个月，没想到半小时就通过了，这个夏天，终于可以美滋滋自驾了。
            </div>
        </div>
        <div class="storyItem">
            <div class="storyPic storyPic1"></div>
            <div class="storyTitle">
                王先生
                <span class="storyDescription">上班族</span>
                <span class="storyMotto">服务太贴心了</span>
            </div>
            <div class="storyPrice">
                <span class="priceTag">首付</span>
                <span>￥</span><span class="price">1.26万</span>
                <span class="priceTag ml20">月供</span>
                <span>￥</span><span class="price">1763</span>
            </div>
            <div class="storyDetail">
                瓜子专员全程跑前跑后，不到半天就完成了所有的手续，省下了不少时间，真是太贴心了！
            </div>
        </div>
        <div class="storyItem">
            <div class="storyPic storyPic3"></div>
            <div class="storyTitle">
                李先生
                <span class="storyDescription">个体户</span>
                <span class="storyMotto">轻轻松松开豪车</span>
            </div>
            <div class="storyPrice">
                <span class="priceTag">首付</span>
                <span>￥</span><span class="price">5.7万</span>
                <span class="priceTag ml20">月供</span>
                <span>￥</span><span class="price">7975</span>
            </div>
            <div class="storyDetail">
                想换一辆体面的车去跑生意，但几十万压力实在大。多亏瓜子金融，首付低费率低，搞定！
            </div>
        </div>
    </div>

    <div class="publicTitle">
        服务范围
        <span class="publicDescription">
            覆盖全国<span class="publicRed">24</span>个省
            精选<span class="publicRed">100</span>多家金融机构
            <span class="publicRed">1000</span>多位金融专员
        </span>
    </div>
    <div class="serviceArea">
        <div class="map" id="map" style="float:none;margin-left:auto;">

        </div>
        <div class="commissioner hide" id="commissioner">
            <div class="commissionerContent scrollDom" id="commissionerScrollContent">
                <div class="hide" id="commissionerContent">
                    <div class="item">
                        <div class="pic">
                            <img src="#pic#">
                            <div class="goldTag"></div>
                        </div>
                        <div class="commissionerName">
                            #name#<span class="goldCommissioner">金牌金融专员</span>
                        </div>
                        <div class="commissionerAchievement">
                            帮<span class="redText">#loanNum#</span>位客户成功贷款
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="publicTitle">
        贷款流程
    </div>
    <div class="loanProcessArea">
        <div class="processItem">
            <div class="processIconArea">
                <div class="processIcon processIcon1"></div>
            </div>
            <div class="processText1">30秒申请</div>
            <div class="processText2">需要分期购车，<br>提交基本信息即可申请</div>
        </div>
        <div class="processItem">
            <div class="processIconArea">
                <div class="processIcon processIcon2"></div>
            </div>
            <div class="processText1">电话回访</div>
            <div class="processText2">金融专员一对一沟通，<br>定制金融方案</div>
        </div>
        <div class="processItem">
            <div class="processIconArea">
                <div class="processIcon processIcon3"></div>
            </div>
            <div class="processText1">极速审批</div>
            <div class="processText2">资料提交后立即审批，<br>最快30分钟内告知结果</div>
        </div>
        <div class="processItem">
            <div class="processIconArea">
                <div class="processIcon processIcon4"></div>
            </div>
            <div class="processText1">放款提车</div>
            <div class="processText2">瓜子助您完成车辆过户、<br>抵押等手续后，当天放款</div>
        </div>
        <div class="processTagIcon"></div>
        <div class="processTagIcon processTagIcon2"></div>
        <div class="processTagIcon processTagIcon3"></div>
    </div>

    <div class="publicTitle">
        合作机构
    </div>
    <div class="linkArea">
        <div class="linkContent clearFix" id="partnerContent">
            <div class="hide" id="partnerItem">
                <div class="linkItem"><img src="#pic#"></div>
            </div>
        </div>
        <div class="btnContent" style="width: 201px;">
            <div class="btn1 hide">电话咨询</div>
            <a href="#applyForm"><div class="btn2">立即申请</div></a>
        </div>
    </div>

</div>

<!--自营提交成功-->
<div class="selfSuccessPop" id="selfSuccessPop">
    <div class="titleArea">
        <div class="closeIcon close"></div>
        <div class="titleContent">
            <div class="titleProcessArea">
                <div class="prcessLine"></div>
                <div class="processContent">
                    <div class="showNum showNumChecked">1</div>
                </div>
                <div class="processContent num2">
                    <div class="showNum">2</div>
                </div>
                <div class="processContent num3">
                    <div class="showNum">3</div>
                </div>
                <div class="processContent num4">
                    <div class="showNum">4</div>
                </div>
            </div>
            <div class="titleTarea">
                <div class="textArea">30秒申请</div>
                <div class="textArea">预约看车</div>
                <div class="textArea">资料审核</div>
                <div class="textArea">放款提车</div>
            </div>
            <div class="titleDarea">
                <div class="textArea">在线提交</div>
                <div class="textArea">挑选爱车</div>
                <div class="textArea">全程代办</div>
                <div class="textArea">专人陪同</div>
            </div>
        </div>
    </div>
    <div class="titleArrowArea">
        <div class="titleArrow"></div>
    </div>
    <div class="codeArea">
        <img id="selfCodeImg" src="style/img/ewm-app.b62b99186862e35a7b0ebfdb9b2df835.jpg">
    </div>
    <div class="codeText">微信扫一扫，10秒知道是否可贷款</div>
</div>

<!--非自营提交成功-->
<div class="unSelfSupportPop" id="unSelfSupportPop">
    <div class="closeIcon close"></div>
    <div class="showArea unSelfShow hide" id="unSelfShow_appoint">
        <div class="showContent">
            <div class="showTitle">
                <div class="successIcon"></div>
                <span class="titleText">提交成功！</span>
            </div>
            <div class="showDescription">
                您已预约看车，看好车后会有当地金融专员为您办理分期购车事宜，祝您购车愉快!
            </div>
        </div>
    </div>
    <div class="showArea unSelfShow" id="unSelfShow_contract">
        <div class="showContent">
            <div class="showTitle">
                <div class="successIcon"></div>
                <span class="titleText">提交成功！</span>
            </div>
            <div class="showDescription">
                您已成功预定了一辆车,会有当地金融专员为您办理分期购车事宜，祝您购车愉快
            </div>
        </div>
    </div>
    <div class="showArea unSelfShow" id="unSelfShow_fe">
        <div class="showContent">
            <div class="showTitle">
                <div class="successIcon"></div>
                <span class="titleText">提交成功！</span>
            </div>
            <div class="showDescription">
                预约看车后会有金融专员为您定制专属金融方案!
            </div>
            <a id="selfBtn_fe"><span class="showBtnIcon"><div class="telIcon"></div><span class="tel">400-630-3009</span></span></a>
        </div>
    </div>
    <div class="showArea unSelfShow hide" id="unSelfShow_pass">
        <div class="showContent">
            <div class="showTitle">
                <div class="successIcon"></div>
                <span class="titleText">提交成功！</span>
            </div>
            <div class="showDescription">
                预约看车后会有金融专员为您定制专属金融方案!
            </div>
            <a id="selfBtn_pass"><span class="showBtn">去选车</span></a>
        </div>
    </div>
    <div class="showArea unSelfShow hide" id="unSelfShow_rejected">
        <div class="showContent">
            <div class="showTitle">
                <div class="errIcon"></div>
                <span class="titleText">进一步咨询！</span>
            </div>
            <div class="showDescription">
                您资质稍有欠缺，可联系金融客服为您推荐更适合的产品！
            </div>
            <a id="selfBtn_rejected">
                <span class="showBtnIcon"><div class="telIcon"></div><span class="tel">400-630-3009</span></span>
            </a>
        </div>
    </div>
    <div class="titleArea">
        <div class="titleContent">
            <div class="titleProcessArea">
                <div class="prcessLine"></div>
                <div class="processContent">
                    <div class="showNum unSelfShowNum showNumChecked" id="showNum1">1</div>
                </div>
                <div class="processContent num2">
                    <div class="showNum unSelfShowNum" id="showNum2">2</div>
                </div>
                <div class="processContent num3">
                    <div class="showNum unSelfShowNum" id="showNum3">3</div>
                </div>
                <div class="processContent num4">
                    <div class="showNum unSelfShowNum" id="showNum4">4</div>
                </div>
            </div>
            <div class="titleTarea">
                <div class="textArea">30秒申请</div>
                <div class="textArea">预约看车</div>
                <div class="textArea">资料审核</div>
                <div class="textArea">放款提车</div>
            </div>
            <div class="titleDarea">
                <div class="textArea">在线提交</div>
                <div class="textArea">挑选爱车</div>
                <div class="textArea">全程代办</div>
                <div class="textArea">专人陪同</div>
            </div>
        </div>
    </div>
</div>

<!--春节弹窗-->
<div class="unSelfSupportPop" id="springFestivelPop">
    <div class="closeIcon close"></div>
    <div class="showArea unSelfShow">
        <div class="showContent">
            <div class="showTitle">
                <div class="successIcon"></div>
                <span class="titleText">提交成功！</span>
            </div>
            <div class="showDescription" style="padding: 20px; line-height: 24px;">
                尊敬的客户您好，1月20日-2月2日休假期间暂停服务，<br>您的申请我们会在节后尽快处理，祝您新春快乐！
            </div>
        </div>
    </div>
    <div class="titleArea">
        <div class="titleContent">
            <div class="titleProcessArea">
                <div class="prcessLine"></div>
                <div class="processContent">
                    <div class="showNum unSelfShowNum showNumChecked">1</div>
                </div>
                <div class="processContent num2">
                    <div class="showNum unSelfShowNum">2</div>
                </div>
                <div class="processContent num3">
                    <div class="showNum unSelfShowNum">3</div>
                </div>
                <div class="processContent num4">
                    <div class="showNum unSelfShowNum">4</div>
                </div>
            </div>
            <div class="titleTarea">
                <div class="textArea">30秒申请</div>
                <div class="textArea">预约看车</div>
                <div class="textArea">资料审核</div>
                <div class="textArea">放款提车</div>
            </div>
            <div class="titleDarea">
                <div class="textArea">在线提交</div>
                <div class="textArea">挑选爱车</div>
                <div class="textArea">全程代办</div>
                <div class="textArea">专人陪同</div>
            </div>
        </div>
    </div>
</div>

<!--提交成功 begin-->
<div class="popup-succ tc" id="submitSuccess">
    <div class="closeIcon close"></div>
    <h3 class="pop-tit"><span class="icon-succ"></span>提交成功</h3>
    <p class="pop-tip fs18">瓜子金融客服将尽快联系您，请保持电话畅通</p>
    <p class="pop-code fs18">扫码下载瓜子APP</p>
</div>
<!--提交成功 end-->

<!--提交失败 begin-->
<div class="popup-fail tc" id="submitFail">
    <div class="closeIcon close"></div>
    <h3 class="pop-tit"><span class="icon-fail"></span>提交失败</h3>
    <p class="pop-tip2 fs18">请检查您的网络连接是否正常</p>
</div>
<!--提交失败 end-->

<script>
    //ie8 兼容 indexOf
    if (!Array.prototype.indexOf) {
        Array.prototype.indexOf = function (elt) {
            var len = this.length >>> 0;
            var from = Number(arguments[1]) || 0;
            from = (from < 0) ? Math.ceil(from) : Math.floor(from);
            if (from < 0) from += len;
            for (; from < len; from++) {
                if (from in this && this[from] === elt) return from;
            }
            return -1;
        }
    }

    window.selfSupport = 1;

    //window.loanTotal = parseInt(Math.random() * 100000);
    window.loanTotal = false;

    window.selectData = {
        work: [{"option":"\u4e8b\u4e1a\u5355\u4f4d","value":1},{"option":"\u4e0a\u73ed\u65cf","value":2},{"option":"\u4f01\u4e1a\u4e3b","value":3},{"option":"\u4e2a\u4f53\u6237","value":4},{"option":"\u65e0\u56fa\u5b9a\u804c\u4e1a","value":5},{"option":"\u672a\u77e5","value":99}],
        house: [{"option":"\u79df\u623f","value":1},{"option":"\u96c6\u4f53\u5bbf\u820d","value":2},{"option":"\u4e0e\u4eb2\u621a\u5408\u4f4f","value":3},{"option":"\u6709\u623f\u6709\u8d37\u6b3e","value":4},{"option":"\u6709\u623f\u65e0\u8d37\u6b3e","value":5},{"option":"\u672a\u77e5","value":99}],
        credit_record: [{"option":"\u4fe1\u7528\u826f\u597d","value":1},{"option":"\u5c11\u6570\u903e\u671f","value":2},{"option":"\u957f\u671f\u591a\u6b21\u903e\u671f","value":3},{"option":"\u65e0\u4fe1\u7528\u8bb0\u5f55","value":4},{"option":"\u672a\u77e5","value":99}]
    };

    window.partnerData = [
        {
            pic: '//image.guazistatic.com/gz01160812/20/58/b7a8b73bba18fa4ae8fa62d1f7b612c5.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/58/df5708fb3ccb99e39b2ea9d694f98ea9.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/58/213b19c4a090b8ed59eb844bcdb285ae.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/58/44ef43fa3322546d9aa64628122353f0.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/58/5de60e1ab20e24d69fdcea29383261b9.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/58/c22f1549b7729554030f1cb3908ec430.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/59/9ddbdd4ddcae013de68f4099cb3e06ad.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/59/25b33602063eafa54f31e2e00109da80.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/59/6653c7ef663e009ef83fd24125e9cd29.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/58/5376e0b04615052f72cabbafb4c268c9.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/58/393d79deb245a7a121aeced5e731a496.png'
        },
        {
            pic: '//image.guazistatic.com/gz01160812/20/59/9b1a23ca966eb86722147a01379c0396.png'
        }
    ];

    window.commissionerData = [];

    var ipCityInfo = {"id":"12","city_code":"0","standard_code":"110000","script_index":"0","parent_id":"1","name":"\u5317\u4eac","domain":"bj","database":"beijing","pinyin":"beijing","location":"b116.407413,39.904214","region_id":"12","type":"2","hotline":"400-630-3009"};
    window.showCity = ipCityInfo['pinyin'];

    window.loanNum = 24639;

    window.verifyCodeUrl = "\/bj\/web_v3\/getLoginQRCode";

    window.isSpringFestivel = 0;
//    window.isSpringFestivel = true;

    window.mapData = {
        nanchang: {
            name: '南昌',
            left: 240,
            top: 182,
            loanBase: 1000
        },
        hefei: {
            name: '合肥',
            left: 240,
            top: 157,
            loanBase: 1500
        },
        fuzhou: {
            name: '福州',
            left: 256,
            top: 196
        },
        xiamen: {
            name: '厦门',
            left: 251,
            top: 209,
            loanBase: 1000
        },
        quanzhou: {
            name: '泉州',
            left: 255,
            top: 205
        },
        jiujiang: {
            name: '九江',
            left: 237,
            top: 174
        },
        ganzhou: {
            name: '赣州',
            left: 232,
            top: 194
        },
        wuhu: {
            name: '芜湖',
            left: 248,
            top: 163
        },
        guangzhou: {
            name: '广州',
            left: 221,
            top: 218,
            loanBase: 1000
        },
        foshan: {
            name: '佛山',
            left: 219,
            top: 222
        },
        shenzhen: {
            name: '深圳',
            left: 228,
            top: 222,
            loanBase: 1500
        },
        zhongshan: {
            name: '中山',
            left: 223,
            top: 224
        },
        dongguan: {
            name: '东莞',
            left: 226,
            top: 217
        },
        huizhou: {
            name: '惠州',
            left: 232,
            top: 219
        },
        nanning: {
            name: '南宁',
            left: 192,
            top: 222,
            loanBase: 1500
        },
        wuhan: {
            name: '武汉',
            left: 222,
            top: 170,
            loanBase: 1500
        },
        xiangyang: {
            name: '襄阳',
            left: 215,
            top: 159
        },
        changsha: {
            name: '长沙',
            left: 218,
            top: 186,
            loanBase: 1500
        },
        zhuzhou: {
            name: '株洲',
            left: 219,
            top: 191
        },
        haerbin: {
            name: '哈尔滨',
            left: 271,
            top: 48,
            loanBase: 1000
        },
        changchun: {
            name: '长春',
            left: 273,
            top: 64
        },
        shenyang: {
            name: '沈阳',
            left: 262,
            top: 85,
            loanBase: 1500
        },
        dalian: {
            name: '大连',
            left: 261,
            top: 101,
            loanBase: 1000
        },
        huhehaote: {
            name: '呼和浩特',
            left: 203,
            top: 97,
            loanBase: 1500
        },
        wulumuqi: {
            name: '乌鲁木齐',
            left: 55,
            top: 85
        },
        nanjing: {
            name: '南京',
            left: 250,
            top: 153,
            loanBase: 1000
        },
        suzhou: {
            name: '苏州',
            left: 263,
            top: 156,
            loanBase: 1000
        },
        xuzhou: {
            name: '徐州',
            left: 244,
            top: 139
        },
        wuxi: {
            name: '无锡',
            left: 258,
            top: 156,
            loanBase: 1000
        },
        nantong: {
            name: '南通',
            left: 259,
            top: 150
        },
        changzhou: {
            name: '常州',
            left: 255,
            top: 152
        },
        shanghai: {
            name: '上海',
            left: 268,
            top: 156,
            loanBase: 1500
        },
        hangzhou: {
            name: '杭州',
            left: 259,
            top: 165,
            loanBase: 1500
        },
        shaoxing: {
            name: '绍兴',
            left: 263,
            top: 169
        },
        jinan: {
            name: '济南',
            left: 237,
            top: 120,
            loanBase: 1000
        },
        qingdao: {
            name: '青岛',
            left: 254,
            top: 123,
            loanBase: 1500
        },
        yangtai: {
            name: '烟台',
            left: 257,
            top: 112
        },
        zibo: {
            name: '淄博',
            left: 242,
            top: 119
        },
        weifang: {
            name: '潍坊',
            left: 248,
            top: 121,
            loanBase: 1000
        },
        jining: {
            name: '济宁',
            left: 236,
            top: 128
        },
        linyi: {
            name: '临沂',
            left: 244,
            top: 130
        },
        weihai: {
            name: '威海',
            left: 262,
            top: 112
        },
        zhengzhou: {
            name: '郑州',
            left: 220,
            top: 139,
            loanBase: 1500
        },
        luoyang: {
            name: '洛阳',
            left: 214,
            top: 140
        },
        xinxiang: {
            name: '新乡',
            left: 219,
            top: 132
        },
        nanyang: {
            name: '南阳',
            left: 218,
            top: 149
        },
        xian: {
            name: '西安',
            left: 191,
            top: 142,
            loanBase: 1500
        },
        chengdu: {
            name: '成都',
            left: 166,
            top: 171,
            loanBase: 1500
        },
        mianyang: {
            name: '绵阳',
            left: 173,
            top: 166
        },
        chongqing: {
            name: '重庆',
            left: 181,
            top: 175,
            loanBase: 1500
        },
        wanzhou: {
            name: '万州',
            left: 187,
            top: 168
        },
        dazhou: {
            name: '达州',
            left: 183,
            top: 162
        },
        kunming: {
            name: '昆明',
            left: 158,
            top: 209,
            loanBase: 1000
        },
        taiyuan: {
            name: '太原',
            left: 210,
            top: 116
        },
        shijiazhuang: {
            name: '石家庄',
            left: 223,
            top: 113
        },
        baoding: {
            name: '保定',
            left: 226,
            top: 105
        },
        beijing: {
            name: '北京',
            left: 230,
            top: 96,
            loanBase: 1500

        },
        tianjin: {
            name: '天津',
            left: 236,
            top: 102
        },
        tangshan: {
            name: '唐山',
            left: 242,
            top: 101,
            loanBase: 1000
        }
    };
</script>

<!--页面底部begin-->
<div class="footer">
    <div class="company-info clearfix">
        <div class="footer-logo"></div>
        <div class="phone-email">
            <p>
                咨询电话：400-733-6622 <br>
                <span>（周一至周日 8:00-21:00）</span>
            </p>
        </div>
        <p class="ewm-tit gz-wx">关注微信</p>
        <p class="ewm-tit gz-app">下载APP</p>
        <div class="basic-info">
            <div class="info-link">
                                                    
                <a href="http://www.guazi.com/bj/aboutus/" target="_blank">关于瓜子</a>
                <a href="http://www.guazi.com/bj/join/" target="_blank">加入我们</a>
                <a href="http://www.guazi.com/bj/contact/" target="_blank">联系我们</a>
                <a href="http://www.guazi.com/bj/intro/" target="_blank">服务保障</a>
            </div>
            <p class="arc-info">Copyright 2015 www.guazi.com All Rights Reserved</p>
            <p class="arc-info">京ICP备15053955号-1</p>
            <p class="arc-info">京公网安备11010802018338号</p>
        </div>
    </div>
</div>
<img src="style/img/p.gif?gc=/finance/-/-/-/index&domain=bj&city=12&uuid=d41d8cd98f00b204e9800998ecf8427e" style="display: none">
<!--页面底部end-->

<script type="text/javascript" src="style/js/common.1.c65879363564dbef8755.js"></script><script type="text/javascript" src="style/js/web_v3.1.adf1fd20f4fd18125e46.js"></script>

</body>
</html>